# Ignorar entorno virtual
venv/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuraciones de VS Code
.vscode/

# Checkpoints automáticos de Jupyter
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db
